<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">
    <title>HKJL status {{ if eq .Status 0 }}:]{{ else if eq .Status 1 }}:|{{ else if eq .Status 2 }}:[{{ else }}:S{{ end }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <img src="imgs/heading.png" alt="Hackenkunjeleren logo" />
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="https://twitter.com/hackenkunjelere">twitter</a></li>
            <li role="presentation"><a href="https://www.facebook.com/hackenkunjeleren">facebook</a></li>
          </ul>
        </nav>
        <h3 class="logo">Hackenkunjeleren service status</h3>
      </div>

      {{ with .Responses }}{{ range . }}
      <div class="jumbotron">
        <p class="text-center">
          <h2><a href="{{ .Url }}">{{ .Url }}</a></h2>
          {{ if eq .Code 200 }}
          <span class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Reachable, {{ .Time | printf "%.02f" }}ms response time</span>
          {{ else }}
          <span class="btn btn-lg btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;UNREACHABLE</span>
          <h5><small>{{ .Error }}</small></h5>
          {{ end }}
        </p>
      </div>
      {{ end }}{{ end }}

      <footer class="footer">
          <p>Last update: {{ .Timestamp }}
          <br/>Source code: <a href="https://github.com/r3boot/hkjl_status">github</a> &copy; 2016 Lex van Roon &lt;r3boot [at] r3blog.nl&gt;
      </footer>

    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
